* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    color: darkkhaki;
    line-height: 1.5;
    background-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container{
    max-width: 800px;
    background-color: cornflowerblue;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*px, percentile, cm, repeat("number", 1fr), etc...*/
    gap: 10px;
    /* row-gap: 30px;
    column-gap: 10px; */
    align-items: start; /*only used for parent container*/
    justify-content: center; 
    border-radius: 10px;

}


.element{
    /* max-width: 200px; */
    background-color: darkblue;
    padding: 10px;
    height: 100%;
    border:coral 2px solid;
    border-radius: 10px;

}

/*
.element:nth-of-type(2) {
    align-self: center; only each element in the container
    justify-self: center;
}

.element:nth-of-type(5) {
    align-self: start; 
    justify-self: start;
}

.element:nth-of-type(10) {
    align-self: end;
    justify-self: end;
}
*/

/*span -> row or column*/

.element:nth-of-type(1){
    /*grid-column-start: 1;
    grid-column-end: 3;*/
    grid-column: 1/3; /*same thing as the above*/
}

.element:nth-of-type(6){
    grid-row: 3/6;
}

